SOLIDSIGN_BASE_URL=http://localhost:8080
SOLIDSIGN_AUTHORIZATION=Bearer eyJ...
SOLIDSIGN_CERT_ID=82e227ab-8422-45a1-9936-478283c8c490
SOLIDSIGN_BATCH_INPUT_PATH=/input_pdfs
SOLIDSIGN_BATCH_OUTPUT_PATH=/signed_results
SOLIDSIGN_PROFILE=ADRB
SOLIDSIGN_HASH_ALGORITHM=SHA256
SOLIDSIGN_POLICY_VERSION=
SOLIDSIGN_SIG_FIELD_MEASUREMENT_UNIT=PIXELS
SOLIDSIGN_SIGNATURE_FIELD_CONFIG=[{"pageNumber":1,"coordinateX":200,"coordinateY":380,"width":200,"height":80}]
SOLIDSIGN_SIGNATURE_IMAGE_PATHS=/path/to/stamp_signature.jpeg
SOLIDSIGN_REASON=Assinatura digital
SOLIDSIGN_LOCATION=Brasil
SOLIDSIGN_CONTACT=contato@suaempresa.com.br
